html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
#header {
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0px;
    left: 0px;
    /*z-index: 2;*/
}
.mainNav
{
    background: #16a085;
    float: right;
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	width:100%;
}
.mainNav ul
{
    float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.mainNav li
{
	display: inline-block;
}
.mainNav li a
{
	color: #fff;
	font-weight: 500;
	margin: 0 10px;
	position: relative;
	text-decoration: none;
	transition: all 0.4s ease-in-out;
}
.mainNav li a:after
{
	background: rgba(255,255,255,0.4);
	bottom: -2px;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	transition: all 0.4s ease-in-out;
	width: 0;
}
.mainNav li a:hover:after
{
	width: 100%;
}
body {

  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* particleground demo */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


body {
  background: #16a085;
  font-family: "Quicksand",sans-serif;
  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}
figcaption,figure,main
{
	
}
figure
{
	margin: 1em 40px;
}


.hero .wrapper--content
{
	margin-bottom: 40px;
	max-width: 700px;
	padding-top: 130px;
	position: relative;
	z-index: 200;
}
@media (min-width: 768px)
{
	.hero .wrapper--content
	{
		margin-bottom: 60px;
		padding-top: 220px;
	}
}
@media (min-width: 1024px)
{
	.hero .wrapper--content
	{
		margin-bottom: 100px;
		padding-top: 260px;
	}
}
.imgThumb
{
	position: relative;
	z-index: 200;
}
.imgThumb img
{
	border: #fff 5px solid;
	border-radius: 100%;
	margin-bottom: 20px;
}
.imgThumb figcaption
{
	position: relative;
}
.imgThumb figcaption a
{
	display: inline-block;
	margin: 0 15px;
	position: relative;
}
.imgThumb figcaption .github,.imgThumb figcaption .twitter
{
	top: -15px;
}
#header {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0px;
    left: 0px;
    /*z-index: 2;*/
}
#minimenu {
    display: none;
}
#minimenu {
    display: none;
    float: right;
    margin-right: 20px;
    font-size: 36px;
    margin-top: 5px;
    cursor: pointer;
}

.section:nth-child(even) {
}

.section {
    min-height: 800px;
    padding-top: 100px;
    overflow: hidden;
}
#education {
   background: #fff;
  font-family: "Quicksand",sans-serif;
  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}
#intro {
   position: absolute;
  left: 0;
  top: 50%;
  padding: 0 20px;
  width: 100%;
  text-align: center;
}
#certu{
   position: absolute;
  left: 0;
  top: 80%;
  padding: 0 50px;
  margin: 0 280px;
  width: 100%;
  text-align: left;
}
#certutitle{
    position: absolute;
  left: 0;
  top: 30%;
  font-family: "Quicksand",sans-serif;
  margin: 0 180px;
  width: 100%;
  text-align: left;
   color: #fff;
  line-height: 1.3;
  font-size: 35px;
    font-style: bold;
  -webkit-font-smoothing: antialiased;
}
#certgoogle{
   position: absolute;
  left: 0;
  top: 100%;
  font-family: "Quicksand",sans-serif;
  padding: 0 50px;
    margin: 0 280px;
  width: 100%;
  text-align: left;
   color: #fff;
  line-height: 1.3;
  font-size: 35px;
    font-style: bold;
  -webkit-font-smoothing: antialiased;
}
#certgoogletitle{
   position: absolute;
  left: 0;
  top: 30%;
  font-family: "Quicksand",sans-serif;
  margin: 0 180px;
  width: 100%;
  text-align: left;
   color: #fff;
  line-height: 1.3;
  font-size: 35px;
    font-style: bold;
  -webkit-font-smoothing: antialiased;
}
h1 {
  text-transform: uppercase;
  font-size: 85px;
  font-weight: 700;
  letter-spacing: 0.015em;
}
h1::after {
  content: '';
  width: 80px;
  display: block;
  background: #fff;
  height: 10px;
  margin: 30px auto;
  line-height: 1.1;
}
p {
  margin: 0 0 30px 0;
  font-size: 24px;
}
.btn {
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #fff;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.4s;
     -moz-transition: all 0.4s;
       -o-transition: all 0.4s;
          transition: all 0.4s;
}
.btn:hover {
  color: #005544;
  border-color: #005544;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 70px;
  }
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 48px;
  }
  h1::after {
    height: 8px;
  }
}

@media only screen and (max-width: 568px) {
  #intro {
    padding: 0 10px;
  }
  h1 {
    font-size: 30px;
  }
  h1::after {
    height: 6px;
  }
  p {
    font-size: 18px;
  }
  .btn {
    font-size: 16px;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 28px;
  }
  h1::after {
    height: 4px;
  }
}
